<footer class="site-footer">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/components/footer.css')}}">
    </head>
    <body>
        <main>
            <div id="main-container">
                <section id="logo-section">
                    <img id="logo" src="{{url_for('static', filename='images/logos/light-logo.png')}}" alt="Site logo">
                    <h1 id="logo-text">Making education fun and interactive</h1>
                </section>

                <section id="list-link-section">
                    <ul id="list">
                        <li class="link">Home</li>
                        <li class="link">About</li>
                        <li class="link">Zoo Tickets</li>
                        <li class="link">Hotel Stays</li>
                        <li class="link">Sign In</li>
                        <li class="link">Register</li>
                        <li class="link">Membership</li>
                        <li class="link">T&Cs</li>
                        <li class="link">Privacy Policy</li>2563EB
                        <li class="link">Quizzes</li>
                        <li class="link">Educational Tour</li>
                        <li class="link">Articles</li>
                    </ul>
                </section>
            </div>
        </main>
    </body>
    </html>
</footer>
