{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/booking/booking.css') }}">
    <title>{% block title %}Riget Booking{% endblock %}</title>
</head>
<body>
    <main id="wrapper">
        <div id="booking-container">
            <section class="booking-section">
                
            </section>

            <section class="booking-section">
                
            </section>
        </div>
    </main>
</body>
{% endblock %}