body{
    margin: 0;
    padding: 0;
}

#hero-section{
    background-image: url(../../images/backgrounds/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}


#about-section{
    width: 100%;
    height: 100vh;
    background-color: #656D4A;
    margin: 0;
}


#title-container{
    margin: 0;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding-top: 25px;
}

#title::before,
#title::after{
    margin-left: 10px;
    margin-right: 10px;
    content: "";
    flex: 1;
    height: 3px;
    background-color: white;
    max-width: 55px;
}

#section1{
    margin-top: 25px;
}

#section1-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1430px;
    height: 630px;
    margin-left: 85px;
}

.small-card{
    width: 675px;
    height: 175px;
    background-color: #8D9471;
    border-radius: 15px;
    outline: #626750 solid;
    outline-width: 5px;
    display: flex;
}


#top-small-card{
    margin-bottom: 10px;
}


#bottom-small-card{
    margin-top: 10px;
}


.small-card-text-section{
    display: flex;
    width: 425px;
    height: 175px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.small-card-image-section{
    width: 240px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 50px;
}


#top-small-card-image{
    background-image: url(../../images/binocular.png);
}


#bottom-small-card-image{
    background-image: url(../../images/on-the-phone.png);
}


.small-card-header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.small-card-text{
    font-style: italic;
    font-weight: bold;
}

#big-card{
    display: flex;
    width: 900px;
    height: 250px;
    outline: solid 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    background-color: #A4AC86;
    border-radius: 15px;
    outline: #5D6249 solid;
    outline-width: 5px;
}

#section2{
    display: flex;
    flex: 1 1 100%;
    height: 330px; 
    align-items: center;
}

#section2-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

#review-header{
    margin: 0;
    margin-left: 90px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
}

#cards-container{
    display: flex;
    width: 1750px;
    height: 75%;
    padding-top: 5px;
    margin-left: 75px;
    margin-top: 20px;
}

.card{
    width: 390px;
    height: 200px;
    background-color: #A4AC86;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}


#big-card-image-container{
    height: 100%;
    width: 50%;

    background-image: url(../../images/backgrounds/lions.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}

#big-card-text-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}