body{
    margin: 0;
    padding: 0;
}

.site-footer #main-container{
    width: 100%;
    height: 30svh;
    display: flex;
    align-items: center;

    background-color: #414833;
    margin-top: 5px;
}

.site-footer #logo-section{
    width: 50%;
    height: 80%;
    gap: 5%;
    border-right: solid white 5px; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.site-footer #logo{
    padding: 0;
    width: 20%;
}

.site-footer #logo-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.75rem;
}

.site-footer #list{
    list-style-type: none;
}

.site-footer .link{
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;

}