body{
    margin: 0;
}


#header-container{
    position: absolute;
    width: 100%;
    display: flex;
    height: 135px; 
    align-items: end;
    margin: 0;
    justify-content: center;
}


#header{
    display: flex;
    background: #414833;
    border-radius: 25px;
    width: 75%;
    min-width: 1000px;
    height: 100px;
    outline: 3px;

    box-shadow: 7px 7px 12px #2c2c2ce1;
}


#logo-section{
    display: flex;
    height: 100%;
    width: 15%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}


.site-header #logo{
    width: 100px;
    transition: filter 0.15s ease, transform 0.15s ease;
    padding-top: 5%;
}

#logo:hover{
    filter: brightness(0.75);
}


#links-section{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}


#link-list{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}


.link-container{
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}


.site-header .link{
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    width: 80%;
    height: 35%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.link:hover{
    transform: scale(.95);
    color: lightgray;
    transition: ease-in .15;
}

.link:active{
    color: #777776;
    transform: scale(0.95);
    transition: ease-in .15;
}


#auth-section{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#auth-buttons-section{
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}


.auth-button{
    width: 40%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #93663975;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


#access-button{
    display: flex;
    width: 50px;
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #b6ad90;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#access-button:hover{
    transform: scale(.95);
    transition: ease-in .15;
}

.button-trans:hover{
    transform: scale(.95);
    transition: ease-in .15;
}

.button-trans:active{
    background-color: #835b326c;
    transition: ease-in .15;
}

#acc-img{
    width: 45px;
}

