{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general/index.css') }}">
</head>
<html>
<body>
    <!-- Hero Section -->
    <section id="hero-section">
        
    </section>

    <!-- About Section -->
    <section id="about-section">
        <div id="title-container">
            <h1 id="title"> About </h1>
        </div>
        
        <section id="cards-section">
           
        </section>

                
    </section>
</body>
</html>

{% endblock %}